$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$lavender: hsl(241, 100%, 89%);
$gray-blue: hsl(224, 30%, 27%);

$light-red: hsl(0, 100%, 67%);
$yellow-orange: hsl(39, 100%, 56%);
$teal: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);

$slate-blue: hsl(252, 100%, 67%);
$royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

$transparentize: 0.96;
.reaction {
  color: $light-red;
  background-color: transparentize($light-red, $transparentize);
}
.memory {
  color: $yellow-orange;
  background-color: transparentize($yellow-orange, $transparentize);
}
.verbal {
  color: $teal;
  background-color: transparentize($teal, $transparentize);
}
.visual {
  color: $blue;
  background-color: transparentize($blue, $transparentize);
}
