@use "colors" as *;
@use "layout" as *;

.subscore {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.9em;
  border-radius: 8px;
  font-size: 0.9rem;

  @media (min-width: $bp) {
    font-size: 1rem;
  }

  img {
    margin-right: 0.8em;
    transform: translateY(3px);
  }

  &__label {
    font-weight: 700;
  }
  &__score {
    color: $gray-blue;
    font-weight: 800;
    margin-right: 0.2em;
  }
  &__total {
    color: transparentize($gray-blue, 0.5);
    font-weight: 800;
  }
}
