@use "colors";
@use "result";

@font-face {
  font-family: "Hanken Grotesk";
  src: url("HankenGrotesk-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
}
body {
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
